@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Noto+Serif+JP:wght@200;400&display=swap');

* {
    margin: 0;
    padding: 0;
}

.principal-greeting {
    margin-top: 8%;
    font-family: 'Noto Sans JP';
    margin-bottom:2%;
    margin-left: 15%;
    margin-right: 15%;
}


.president-pic {
    text-align: center;
}

.caption {
    text-align: center;
    margin-bottom: 30px;
}

.detail > p{
    margin-bottom: 3px;
}

.container2 > details{
    margin-bottom: 10px;
}