@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Noto+Serif+JP:wght@200;400&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP';
}

.greet-image {
  border-radius: 50% !important;
}

.greeting-section {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}




/*
  Navbar
  ------
*/

.navbar-dark {
  background-color: black;
}

.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
  max-height: inherit;
}

.logo-heading {
  display: inline-block;
  max-height: 43px;
  position: absolute;
  top: 22px;
  left: auto;
}



/*
  Section - Home
  --------------
*/

/* Home BG Static (default) */

#home {
  background: url("../images/bg-main.jpg");
}


/* Home BG Parallax */

#home-bg-parallax > .bg-parallax {
  background: url("../images/bg-parallax.jpg");
}


/* Home BG Slideshow */

#home-bg-slideshow .bg-slideshow-wrapper .slides > .bg-cover:nth-child(1) {
  background: url("../images/bg-main.jpg");
}


/* Home BG Slider */

#home-bg-slider .bg-slider-wrapper .flickity-slider .bg-cover:nth-child(1) {
  background: url("../images/bg-main.jpg");
}

#home-bg-slideshow .display-table-cell,
#home-bg-slider .display-table-cell {
  position: relative;
  z-index: 20;
}


/* Sponsors */

.sponsors-ul > li {
  font-size: medium;
  padding: 6px;
}


.member-box {
  margin-bottom: 24px !important;
}

.footer {
  padding: 50px 0 32px;
}


#event-banner .row {
  flex-direction: row;
}
#event-banner .row #banner-registration {
  margin: auto;
}

/* President */

.pres-pic {
  margin-top: 25%;
  width: 80% !important;
}

.president h2 {
  margin-top: 15px;
  font-size: 20px;
  text-align: center;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .pres-pic {
  width: 30% !important;
  margin-top: 5%;
  }
  .president h2 {
    margin-top: 15px;
    font-size: 20px;
  }

}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .pres-pic {
  width: 30% !important;
  margin-top: 0;
  }
}